$primarycolor: rgb(27, 150, 255);


.nav {
    background-color: $primarycolor;
    display: flex;    
    flex: 1;
    flex-direction: row;
    padding: 10px 20px 0px;
    align-items: center;
    &__logo{
        margin-right: auto;
        &--style{
            font-weight: bolder;
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:rgb(190, 181, 95);
        }
    }

    &__list{
        list-style-type: none;
        display: flex;
        gap: 10px;
        color: beige;
        margin-left: auto;
        a{
            
            text-decoration: none;
            font-weight: bolder;
            font-size: x-large;
        }
        &--active{
            a{
                color: orange;
            }
        }
        &--inactive{
            a{
                color:white;
            }
        }
        
    }
    
}
