$primarycolor: rgb(27, 150, 255);
$secondrycolor:rgba(29, 158, 29, 0.8);
.about-book {
    margin: 20px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__image {
        padding: 3px;

        &--cover-image {
            height: 320px;
            width: 250px;
            border-radius: 3px;
            transition: 0.3s ease-in-out;
            &:hover {
                transition: 0.3s ease-in-out;
                transform: translateY(0) scale(1.1);
            }
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;

        &--title {
            color: $primarycolor;
            font-weight: bold;
            font-size: x-large;
        }

        &--price {
            color: green;
            font-weight: bold;
        }

        &--author {
            color: $primarycolor;
            font-weight: bold;
        }

        &--pages {
            color: $primarycolor;
            font-weight: bold;
        }

        &--isbn {
            color: $primarycolor;
            font-weight: bold;
        }
    }

    &__cart-buttons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10px 0px;

        &--btn{
            background-color: $primarycolor;
            color: white;
            border: 0px;
            border-radius: 3px;
            padding: 5px 20px;
            font-weight: 500;
            &:hover{
                transform: translateY(0) scale(1.1);
                // background-color: $secondrycolor;
                opacity: 0.9;
            }
        }
    }
    &__description{
        width: 260px;
        word-break: break-all;
        word-wrap: normal;
        &--para{
            font-size: small;
        }
    }
}

@media screen and (max-width: 670px) {
    .about-book {
        justify-content: center;
    }
}
